@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

.error__msg {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: #222;
  border-radius: 5px;
  text-align: start;
  border: none;
  color: white;
  border-radius: 5px;
  min-width: 100px;
  max-width: 500px;
  outline: none;
  transition: all 0.2s linear; }
  .error__msg h3 {
    background-color: #111;
    padding: 10px 5px;
    border-radius: 5px 5px 0 0; }
  .error__msg p {
    padding: 5px; }
  .error__msg::before {
    content: '';
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(2px); }

.expanded__img {
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 10px;
  background-color: #222;
  border-radius: 5px;
  max-width: 500px;
  height: fit-content;
  z-index: 1;
  scale: 0;
  transition: all 0.1s linear; }
  .expanded__img img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px; }
  .expanded__img::before {
    content: '';
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.253); }

.loading {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.397);
  overflow: hidden; }

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-template-rows: repeat(3, 20px);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  justify-self: center;
  z-index: 2; }

.square {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px #FF5530;
  animation: scaleInOut 1s infinite;
  background-color: #FF5530; }

@keyframes scaleInOut {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(0.7); } }

body {
  font-family: 'Poppins';
  background-color: #111;
  color: white; }

main {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px; }
  header div {
    display: flex;
    align-items: center;
    gap: 20px; }
  header input {
    background-color: #FF5530;
    border: none;
    color: white;
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins'; }
    header input::placeholder {
      color: white; }
  header button {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #FF5530; }
  header svg {
    background-color: #FF5530;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer; }

.recipe__container {
  padding: 20px;
  background-color: #222;
  margin: 40px 0;
  border-radius: 10px; }
  .recipe__container .recipes__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    cursor: pointer;
    border-radius: 5px; }
  .recipe__container img {
    width: 100%;
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px; }
  .recipe__container h3 {
    max-width: 300px; }
  .recipe__container h2 {
    margin-bottom: 20px; }
  .recipe__container .load__btn-wrapper {
    margin-top: 60px;
    text-align: center; }
    .recipe__container .load__btn-wrapper button {
      background-color: #FF5530;
      color: white;
      border: none;
      font-size: 18px;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer; }

.wrap__recipe-page {
  display: none;
  flex-direction: column;
  gap: 20px;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  width: fit-content;
  margin: 40px auto; }
  .wrap__recipe-page li span {
    position: relative;
    left: 10px; }
  .wrap__recipe-page li::marker {
    content: url("../imgs/check.png"); }
  .wrap__recipe-page .main__details div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    color: white;
    padding: 10px;
    transition: all 0.1s linear; }
    .wrap__recipe-page .main__details div:hover {
      opacity: 0.8;
      cursor: pointer; }
    .wrap__recipe-page .main__details div h2 {
      background-color: #FF5530;
      padding: 8px;
      border-radius: 5px;
      max-width: 600px;
      text-align: center; }
  .wrap__recipe-page .recipe__ingredients .ingredients {
    list-style: inside;
    border-radius: 10px;
    width: fit-content; }
  .wrap__recipe-page .recipe__instructions {
    margin-top: 10px; }
    .wrap__recipe-page .recipe__instructions p {
      max-width: 700px; }
  .wrap__recipe-page .bookmark__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5530;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer; }

.all__bookmarks {
  display: none;
  margin: 40px 0;
  background-color: #222;
  border-radius: 10px;
  padding: 15px; }
  .all__bookmarks .upper__details {
    display: flex;
    justify-content: none;
    align-items: center;
    gap: 10px; }
    .all__bookmarks .upper__details svg {
      background-color: #FF5530;
      padding: 2px;
      border-radius: 5px;
      cursor: pointer; }
  .all__bookmarks .bookmark__list {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: column;
    gap: 14px; }
    .all__bookmarks .bookmark__list .bookmark {
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 10px;
      padding: 10px;
      background-color: #333;
      margin-top: 10px;
      border-radius: 10px;
      cursor: pointer; }
      .all__bookmarks .bookmark__list .bookmark img {
        width: 100%;
        max-width: 200px;
        max-height: 100px;
        object-fit: cover;
        border-radius: 5px; }
