@import '../externalCss/global.scss';

@mixin sideSpacing {
  padding-left: 5%;
  padding-right: 5%;
}

@mixin sideSpacingHeader {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}

@mixin btnHover {
  filter: drop-shadow(0 0 12px $mainColor) !important;
  background-color: $hoverColor !important;
  cursor: pointer;
}

// @keyframes colorChanger {
//   0% {
//     background: linear-gradient(90deg, rgba(255,48,163,1) 0%, rgba(187,166,0,1) 35%, rgba(0,108,255,1) 100%);
//   }

//   50% {
//     background: linear-gradient(90deg, rgb(22, 188, 230) 35%, rgb(27, 194, 206) 15%, rgba(0,108,255,1) 40%);
//   }

//   100% {
//     background: linear-gradient(1100deg, rgba(255,48,163,1) 20%, rgb(218, 221, 15) 55%, rgba(0,108,255,1) 100%);
//   }
// }

button {
  &:hover {
    @include btnHover();
  }

  transition: all 0.1s linear;
}

main {
  max-width: 1440px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: #111;
  color: white;
}

header {
  @include sideSpacingHeader();
  @include flex(space-between, center);

  h2 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
  }

  ul {
    @include flex(none, none);
    gap: 20px;
    list-style: none;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 550;
  }

  li {
    &:hover {
      color: rgb(82, 82, 82);
      cursor: pointer;

      transition: all 0.1s linear
    }
  }
}

.sect--1 {
  @include flex(space-between, center);

  height: 100vh;
  padding-bottom: 100px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    background: linear-gradient(1100deg, rgba(255,48,163,1) 20%, rgb(218, 221, 15) 55%, rgba(0,108,255,1) 100%);
    background-size: 100%;
    animation: colorChanger infinite 3s ease-in-out;
    width: 100%;
    height: 60%;
    z-index: -1;
    filter: blur(100px);
    opacity: 0.3;
    padding: 30px;
  }

  div {
    @include sideSpacing();
    @include flex(none, start);
    flex-direction: column;
  }

  h1 {
    font-size: 55px;
    font-weight: 800;
    max-width: 700px;
    line-height: 62.5px;
    padding-bottom: 12px;
  }

  p {
    font-size: 20px;
    margin-bottom: 40px;
  }

  button {
    background-color: $mainColor;
    padding: 10px 40px;
    color: white;
    font-family: 'M Plus Rounded 1c';
    font-weight: 700;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }

  img {
    display: none;
    width: 607px;
    height: 457px;
    object-fit: contain;
    filter: drop-shadow(5px 5px #00000050);
  }
}

.bg-pattern {
  position: absolute;
  inset: 0;

  margin: auto;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

footer {
  position: relative;
  bottom: 0;
  background-color: $mainColor;
  text-align: center;
  color: white;
}
